43<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mr Robot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="full-width">
    <ion-button expand="full" color="primary" [routerLink]="['/ordenador']">Ordenadores</ion-button>
  </section>
  <section class="full-width">
    <ion-button expand="full" color="secondary"[routerLink]="['/periferico']">Periféricos</ion-button>
  </section>
  <section class="full-width">
    <ion-button expand="full" color="tertiary"[routerLink]="['/movil']">Móviles</ion-button>
  </section>
</ion-content>
