<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="full-width">
    <ion-button expand="full" color="primary">A full-width button</ion-button>
  </section>
  <section class="full-width">
    <ion-button expand="full" color="secondary">A full-width button</ion-button>
  </section>
  <section class="full-width">
    <ion-button expand="full" color="tertiary">A full-width button</ion-button>
  </section>
</ion-content>
