<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title style="text-align: center;">Ordenadores<ion-fab bottom right style="margin-left: 5%;">
      <button (click)="show = !show" ion-fab mini><ion-icon  name="add"></ion-icon></button>
    </ion-fab>
  </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content  style="text-align: center;">
  <div padding *ngIf="show">
      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="articulo.name"></ion-input> 
      </ion-item>
      <ion-item>
        <ion-label floating>Precio</ion-label>
        <ion-input type="text" [(ngModel)]="articulo.price"></ion-input> 
      </ion-item>
      <ion-item>
        <ion-label floating>Cantidad</ion-label>
        <ion-input type="text" [(ngModel)]="articulo.quantity"></ion-input>
      </ion-item>
        <button (click)="saveOrdenador()" ion-button full>Guardar</button>
        <button *ngIf="idSelected != 0" (click)="removeSelectedOrdenador()" ion-button full color="danger">Borrar</button>
        
  </div>
    <ion-list style="display: inline-grid; font-size: 90%; align-content: center;">
      <button  style="margin-bottom: 5px; font-size: 120%;" ion-item *ngFor="let articulo of ordenadores" (click)="selectOrdenador(articulo.id)"><!--Recorremos el array fruits que hemos cargado en el constructor home.ts-->
        Nombre: {{ articulo.name }} | Precio: {{articulo.price}} |Unidades: {{articulo.quantity}} 
      </button>  
    </ion-list>
 
</ion-content>